<div class="flex flex-row w-full px-4 py-2 bg-white border-y-2 border-gray-100">
  <button class="px-6 py-1 m-1 rounded-3xl font-semibold border flex flex-row items-center border-gray-600 hover:border-black hover:bg-gray-100">
    <%= image_tag("calendar_filters_black.svg", :class => "w-4 mr-2") %>
    <span>Dates</span>
  </button>
  <button class="px-6 py-1 m-1 rounded-3xl font-semibold border flex flex-row items-center border-gray-600 hover:border-black hover:bg-gray-100">
    <%= image_tag("location_outline_filters_black.svg", :class => "w-4 mr-2") %>
    <span>Areas</span>
  </button>
  <button class="px-6 py-1 m-1 rounded-3xl font-semibold border flex flex-row items-center border-gray-600 hover:border-black hover:bg-gray-100">
    <%= image_tag("slider_filters_black.svg", :class => "w-4 mr-2") %>
    <span>Filters</span>
  </button>
  <button class="px-6 py-1 m-1 rounded-3xl font-semibold border flex flex-row items-center border-gray-600 hover:border-black hover:bg-gray-100">Sort</button>
  <button class="px-6 py-1 m-1 rounded-3xl font-semibold border flex flex-row items-center border-gray-600 hover:border-black hover:bg-gray-100">Map</button>
</div>
